@import url('https://fonts.googleapis.com/css2?family=Funnel+Sans:ital,wght@0,300..800;1,300..800&family=Lexend:wght@100..900&display=swap');

body {
    margin: auto 0;
}

header {
    font-family: 'Lexend';
}

#mainHeader {
    text-align: center;
    background-color: #0873EE;
    width: 100%;
}

main {
    font-family: 'Funnel Sans';
}

#searchArea {
    text-align: center;
}

#conditionSection {
    text-align: center;
}

#conditionTabHolder {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
}

.conditionTab {
    width: 500px;
    height: 300px;
    border: 1px solid black;
    border-radius: 10px;
    margin: 0 5px 30px 5px;
    text-align: center;
}

footer {
    font-family: 'Funnel Sans';
}

@media screen and (min-width: 850px){
    #extremeTabHolder {
        grid-template-columns: 1fr;
    }
}