@import url('https://fonts.googleapis.com/css2?family=Funnel+Sans:ital,wght@0,300..800;1,300..800&family=Lexend:wght@100..900&display=swap');

body {
    background-color: #0F0A15;
    margin: auto 0;
}

/* Header */

header {
    font-family: 'Lexend';
}

#mainHeader {
    text-align: center;
    background-color: darkorange;
    width: 100%;
}

#headerLinkHolder {
    margin: 10px 20px;
}

.headerLink {
    padding: 5px;
}

/* Header Links */

a {
    text-decoration: none;
}

a:link, a:visited {
    color: white;
}

a:hover {
    color: #0873EE;
}

/* Main */

main {
    font-family: 'Funnel Sans';
}

/* Search Box */

#searchArea {
    color: white;
    text-align: center;
}

#searchBoxLabel {
    display: block;
    margin: 10px 0;
}

#searchBox {
    margin: 0 0 50px 0;
}

/* Current Extremes Section */

#extremeSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}

#extremeTabHolder {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    color: black;
}

.extremeTab {
    width: 400px;
    height: 250px;
    margin: 5px;
    border: 1px solid black;
    border-radius: 10px;
    background-color: lightgrey;
    text-align: center;
}

/* Footer */

footer {
    font-family: 'Funnel Sans';
    color: white;
}

@media screen and (min-width: 900px){
    #extremeTabHolder {
        grid-template-columns: 1fr 1fr;
        gap: 50px;
    }
}